

.wrapper {
  display: grid;
  padding: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 40px;
  grid-row-gap:10px;
  text-align: center;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 55px;
  padding: 20px;
  font-size: 150%;
}

.next {
  background-color: #4CAF50;
  color: white;
  position: absolute;
  
}

.button {
  text-align: center;
}



